body {
  background-image: url("https://bankjoy.com/assets/images/backgrounds/background.jpg");
  background-attachment: fixed;
}

.color-overlay {
  z-index: -1;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(55, 66, 103, 0.80);
}

.contact {
  font-family: "Source Sans Pro";
  font-weight: 300;
  font-size: 20px;
  text-align: right;
  padding: 3em;
  color: white;
}

.contact span {
  font-family: "Source Sans Pro";
  font-weight: 300;
  font-size: 20px;
  margin-left: 1em;
  color: white;
}

#logo {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

#logo > img {
  width:240px;
}

@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 200;
  src: url("https://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGBtvTbjs3T7OK9b50AXe70D3rGVtsTkPsbDajuO5ueQw.woff2")
  format("woff2");
}

#slogan > h1 {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  font-size: 60px;
  color: white;
  font-family: "Source Sans Pro";
  font-weight: 100;
}

#offer {
  text-align: center;
  margin-right: 190px;
  margin-left: 190px;
  color: #a6abb2;
  font-size: 15px;
  font-family: "Source Sans Pro";
  font-weight: 400;
}

#button {
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  text-align: center;
  font-family: "Source Sans Pro";
  font-weight: 200;
  font-size: 20px;
  color: white;
  padding: 15px;
  border: solid 2px #5170dd;
  border-radius: 80px;
  background-color: #5170dd;
  width: 200px;
}


.phone {
  position: relative;
  width: 80%;
  margin-top: 50px;
}

#left.phone {
  position: relative;
  width: 15%;
  right: -44%;
}

#center.phone {
  position: relative;
  width: 16%;
  z-index: 2;
  right: -39%
}

#right.phone {
  position: relative;
  width: 15%;
  left: 34%;
}
