body {
  background-image: url("https://bankjoy.com/assets/images/backgrounds/background.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  margin: 0;
}

.color-overlay {
  z-index: -1;
  height: 120%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 0;
  background-color: rgba(55, 66, 103, 0.80);
}

.contact {
  font-family: "Source Sans Pro";
  font-weight: 300;
  font-size: 20px;
  text-align: right;
  padding: 3em;
  color: white;
}

.contact span {
  font-family: "Source Sans Pro";
  font-weight: 300;
  font-size: 20px;
  margin-left: 1em;
  color: white;
}

.contact span:hover {
  color: darkblue;
  transition-duration: 0.5s;
}

#logo {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

#logo > img {
  width: 240px;
}

@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 200;
  src: url("https://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGBtvTbjs3T7OK9b50AXe70D3rGVtsTkPsbDajuO5ueQw.woff2")
  format("woff2");
}

#slogan > h1 {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  font-size: 60px;
  color: white;
  font-family: "Source Sans Pro";
  font-weight: 100;
}

#offer {
  text-align: center;
  margin-right: 190px;
  margin-left: 190px;
  margin-bottom: 60px;
  color: #a6abb2;
  font-size: 15px;
  font-family: "Source Sans Pro";
  font-weight: 400;
}

#button {
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  text-align: center;
  font-family: "Source Sans Pro";
  font-weight: 200;
  font-size: 20px;
  color: white;
  padding: 15px;
  border: solid 2px #5170dd;
  border-radius: 80px;
  background-color: #5170dd;
  width: 200px;
}


.phone {
  position: relative;
  width: 80%;
  margin-top: 50px;
  margin-bottom: 20px;
}

#left.phone {
  position: relative;
  width: 15%;
  right: -44%;
}

#center.phone {
  position: relative;
  width: 16%;
  z-index: 2;
  right: -39%
}

#right.phone {
  position: relative;
  width: 15%;
  left: 34%;
}

.section2 {
  position: relative;
  width: 100%;
  background-color: white;
  margin: 0;
  padding: 100px;
  margin-bottom: -10%;
  margin-top: 10%;
}

.container {
  display: inline-block;
  margin-top: 5%;
  width: 80%;
  margin-left: 5%;
  margin-bottom: 5%
}

#title {
  font-family: "Source Sans Pro";
  font-weight: 100;
  font-size: 50px;
  text-align: left;
  margin-left: 20%;
  margin-right: 60%;
  color: #52575b;
}


#paragraph1 {
  width: 30%;
  text-align: left;
  margin-left: 20%;
  font-family: "Source Sans Pro";
  font-weight: 100;
  font-size: 20px;
  color: #52575b;
}

#left2.phone2 {
  position: relative;
  width: 13%;
  left: 55%;
  top: -335px;
  z-index: 2;
}

#right2.phone2 {
  position: relative;
  width: 11.5%;
  left: 51%;
  top: -350px;
}

.section3 {
  position: relative;
  width: 100%;
  background-color: #efefef;
  margin: 0;
  padding: 100px;
}

.container2 {
  margin-top: 8%;
}

#title2 {
  font-family: "Source Sans Pro";
  font-weight: 100;
  font-size: 50px;
  text-align: left;
  margin-left: 50%;
  margin-right: 20%;
  color: #52575b;
}
